<article class="post">
  <div class="title">
    <span>{{eventdate}}</span>
    <span>{{comments}}</span>
  </div>
  <div class="meta">
  <li>
      
      <div>
        {{title}}
      </div>
    </li>
    
   
  </div>
</article>

