<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PUT A RING ON IT | WEDDING PLANNER</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        {{{body}}}
        {{#if loggedIn}}
        <script src="/javascripts/logout.js"></script>
        {{/if}}
    </body>
</html>