<section>
    <h1>Welcome to the dashboard {{firstname}}. Create an Event!</h1>

    <form class="new-post-form">
        <div>
            <label for="event-name">Event Name</label>
            <input type="text" id="event-name" name="event-name" />
        </div>
        <div>
            <label for="event-comments">Comments</label>
            <input type="text" id="event-comments" name="event-comments" />
        </div>
        <div>
            <label for="event-date">Event Date</label>
            <input type="date" id="event-date" name="event-date" />
        </div>
        <div>
            <label for="event-time">Event Time</label>
            <input type="time" id="event-time" name="event-time" />
        </div>
        <button type="submit"  class="btn">Create</button>
    </form>   
</section>

{{#if events.length}}
<section>
  <h2>Your Events</h2>
  <ol>
    {{#each events as |event|}}
    <li>
      {{> event-info event}}
      <a href="/dashboard/edit/{{event.id}}" class="edit-link">Edit event</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascripts/add-post.js"></script>