<div class="wrapper">
    <header>
        <h1>
            Welcome! Sign up or Login to get your wedding plans scheduled!
        </h1>
        <nav>
            
        </nav>

    </header>

    <form class="signup-form animate__animated animate__fadeInDownBig">
        <div>
            <label for="firstName-signup">First Name:</label>
            <input type="text" id="firstName-signup" />
        </div>
        <div>
            <label for="lastName-signup">Last Name:</label>
            <input type="text" id="lastName-signup" />
        </div>
        <div>
            <label for="email-signup">Email:</label>
            <input type="email" id="email-signup" />
        </div>
        <div>
            <label for="password-signup">Password:</label>
            <input type="password" id="password-signup" />
        </div>
        <div>
            <button type="submit">Sign up</button>
        </div>
    </form>

    <footer>
        Planning a wedding has never been easier! Create an event to see for yourself!
    </footer>
</div>
<script src="/javascripts/signup.js"></script>
{{!-- {{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}} --}}